<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/shop</title>
</head>
<body>
    <h1>__________________________</h1><br>
    <h1>What do you want to buy?</h1>
    <h2>__________________________</h2><br>
    <form action="/shop" method="post">
        <label for="melons">How much melons do you want to buy</label>
        <input type="text" name="melons" id="melons">
        <br>
        <label for="pickles">How much pickles do you want to buy</label>
        <input type="text" name="pickles" id="pickles">
        <br>
        <label for="carrots">How much carrots do you want to buy</label>
        <input type="text" name="carrots" id="carrots">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>